div.spinner-border {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border: 1em solid currentColor;
    border-right-color: transparent;
}